
body {
  /* background: linear-gradient(90deg, #650b0b 0%, #b90403 45%, #e3192a 100%);  */
  background-image: url('./Pomegranate-Seeds-Transparent-Image.png');
  background-size: cover;
  font-family: Raleway, Helvetica, sans-serif;
  color: #d8c7a9;
  font-size: medium;
}

h1 {
  color: #a61a1d;
  margin-left: 20px;
  font-family: Raleway, Helvetica, sans-serif;
;
}

.hidden {
  display: none;
}

#pomodoro-timer {
  margin: 20px;
  width: 250px;
  height: 250px;
  position: fixed;
}